<div id="cmf_tree_{{ uniqId }}"></div>

<script type="text/javascript">
$(document).ready(function () {
    var options = {
        initAjax: {
            url: "{{ path('_cmf_tree_ui_children', {'cmf_tree_ui_tree_name': tree.name}) }}"
        },
        onPostInit: function () {
            {% if options.select_node != '/' %}
                tree.loadKeyPath('{{ keyPath|raw }}', function (node, status) {
                    if(status == "loaded") {
                        // 'node' is a parent that was just traversed.
                        // If we call expand() here, then all nodes will be expanded
                        // as we go
                        node.expand();
                    }else if(status == "ok") {
                        // 'node' is the end node of our path.
                        // If we call activate() or makeVisible() here, then the
                        // whole branch will be exoanded now
                        node.activate();
                    }else if(status == "notfound") {
                        var seg = arguments[2],
                        isEndNode = arguments[3];
                    }
                });
            {% endif %}
        },
        onLazyRead: function (node) {
            var childrenUrl = node.data.children_url;
            node.appendAjax({
                url: childrenUrl,
            });
        },
        keyPathSeparator: '&',
        debugLevel: 2,
    };

    $('#cmf_tree_{{ uniqId }}').dynatree(options);
    var tree = $('#cmf_tree_{{ uniqId }}').dynatree('getTree');


    tree.selectKey('/test');

});

</script>
