<div id="cmf_tree_{{ uniqId }}"></div>

<script type="text/javascript">
$(document).ready(function () {
    var options = {
        source: {
            url: "{{ path('_cmf_tree_ui_children', {'tree_name': tree.name}) }}"
        },
        init: function () {
            {% if keyPath %}
                var tree = $('#cmf_tree_{{ uniqId }}').fancytree('getTree');
                tree.loadKeyPath('{{ keyPath|raw }}', function (node, state) {
                    if(state == "loaded") {
                    } else if (state == "ok") {
                        node.setActive(true);
                    }
                });

                return false;
            {% endif %}
        },
        lazyload: function (e, data) {
            var childrenUrl = data.node.data.children_url;
            data.result = $.ajax({
                url: childrenUrl,
                dataType: "json"
            });
        },
        keyPathSeparator: "&"
    };

    $('#cmf_tree_{{ uniqId }}').fancytree(options);

});

</script>
